.grid-post {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tag {
        background-color: #fff;
        padding: 2px 5px;
        margin: 0 5px;
        border-radius: 4px;
        font-weight: 500;
    }

    .image-text {

        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;

        .image-title,
        .image-date,
        .tags-container {
            float: left;
            width: 100%;
            z-index: 10;
            color: white;
            font-weight: 300;
        }

        .image-date {
            color: $text-light
        }
    }
}