.grid-post {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;



    .image-text {

        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;

        .image-title,
        .image-date {
            float: left;
            width: 100%;
            z-index: 10;
            color: white;
            font-weight: 300;
        }

        .image-date {
            color: $text-light;
            font-size: 18px;

        }
    }
}


@media screen and (max-width : 900px) {
    .grid-post {
        width: 100%;
        margin: 10px 0;
        // height: 300px;
    }
}