.grid-post {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 200px;

    .bg-blog-image {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        transition: all 500ms;
    }

    &:hover .bg-blog-image {
        transform: scale(1.2);
    }

    .grid-post-container {
        position: absolute;
        padding: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: flex-start;
    }

    .tags-container {
        // position: absolute;
    }

    .image-text {

        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 20px;
        background-color: rgba($color: #000000, $alpha: .3);
        // position: absolute;

        .image-title,
        .image-date {
            float: left;
            width: 100%;
            z-index: 10;
            color: white;
            font-weight: 500;
        }

        .image-date {
            color: $text-light;
            font-size: 18px;

        }

    }

    &:first-child {

        .image-text {
            background: rgba(0, 0, 0, 0.3);
            color: white;

            .image-title {
                font-weight: 700;
                letter-spacing: 0.4mm;
                font-size: 1.5rem;
                line-height: 3rem;
            }

            .image-date {
                color: $light-gray;
            }
        }

    }
}


@media screen and (max-width : 900px) {
    .grid-post {
        width: 100%;
        margin: 10px 0;
        height: 300px;
    }
}