.home {

    padding-top: 2rem;

    h1 {
        width: 100%;
        color: $text-color;
    }

    .featured-posts {
        display: flex;
        justify-content: space-evenly;
    }

    .section-heading {
        text-transform: uppercase;
        letter-spacing: 1mm;
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
}

@media screen and (max-width : 900px) {
    .home {

        h1 {
            margin-block-start: 1.5rem;
            margin-block-end: 1.5rem;
        }

        .featured-posts {
            flex-direction: column;
        }
    }
}