.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 0;

    .nav-brand {
        font-size: 24px;
        font-weight: 500;
        margin: 0.5rem 1rem;
    }

    .nav-content {
        display: flex;
        margin-right: 2rem;
        align-items: center;
        font-size: 16px;
        z-index: 11;
        width: 100%;
        justify-content: flex-end;


        .nav-content-items {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }

        .gg-menu-right {
            display: none;
        }

        .toggle-btn {
            padding: 5px;
        }
    }

    ul {
        height: 100%;
        list-style-type: none;
        display: flex;
        margin-block-end: 0;
        margin-block-start: 0;
        align-items: center;

        li {

            a {
                margin: 0.5rem;
                text-decoration: none;
                padding: 0 1rem;
                font-weight: 500;
                color: $text-color;
            }

            &:hover a {
                color: $text-link;
            }
        }

    }

    button {
        border: none;
        outline: none;
        background-color: transparent;
        margin: 0.5rem 1rem 0.5rem 0.5rem;
        text-decoration: none;
        padding: 0 1rem;
        font-weight: 500;
        color: $text-color;

        &:hover {
            cursor: pointer;
            color: $text-link;
        }
    }

    .search-container {
        width: 100%;
        display: flex;

        .search-bar {
            outline: none;
            border: none;
            padding: 1rem;
            margin: 1rem 0rem 1rem 3rem;
            border-bottom: 1px solid gray;
            color: $dark-color;
            font-size: 1.1rem;
            flex-grow: 1;
        }
    }

}

@media screen and (max-width: 800px) {
    .navbar {

        .nav-content {
            .nav-content-items {
                width: 250px;
                height: calc(100% - 70px);
                position: fixed;
                top: 70px;
                left: -250px;
                transition: 300ms ease left;
                background: white;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;

                .nav-avatar {
                    height: 70px;
                    display: flex;
                    margin-bottom: 10px;
                    justify-content: center;
                    align-items: center;
                }



                .search-container {
                    flex-direction: column;
                    align-items: center;

                    .search-bar {
                        margin: 2em 0;
                        font-size: 1rem;
                    }
                }



                ul {
                    flex-direction: column;
                    align-items: center;
                    padding-inline-start: 0;

                    li {
                        height: 70px;
                    }

                    button {
                        height: 70px;
                    }
                }

                &.active {
                    left: 0;
                }
            }

            .gg-menu-right {
                display: flex;
            }
        }
    }
}