.post-item {
    margin: 0.5rem 0rem;
    padding: 0.5rem 0rem;

    figure {
        a {
            display: flex;
        }
    }

    .post-item-image {
        border-radius: 12px;
        margin-left: 12px;
        width: 220px;
        height: 220px;
        overflow: hidden;
        object-fit: cover;
        object-position: center center;
    }

    .post-content {

        .tags-container {
            margin-bottom: 1rem;
        }

        .post-title {
            margin-top: 1rem;
            font-weight: 600;
            font-size: 1.5rem;
            letter-spacing: 0.1mm;
        }

        .post-date,
        .post-author,
        .post-desc {
            margin-bottom: 10px;
        }

        .post-date {
            text-transform: uppercase;
            letter-spacing: 0.5mm;
        }

        .post-author {
            font-weight: 600;
            font-size: 1rem;
            color: $dark-blue;
        }

        .post-desc {
            font-weight: 300;
            color: $text-light;
        }

        .more-button {
            font-weight: 600;
            color: $dark-blue;
        }
    }
}