.side-bar {
    height: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;

    font-size: 2rem;
    color: $dark-color;
    font-weight: 700;

    background: #fff;
    // box-shadow: 0 8px 12px 1px rgba(29, 17, 51, .04), 0 3px 16px 2px rgba(9, 32, 77, .12), 0 5px 10px -3px rgba(29, 17, 51, .12);
}